@media only screen and (min-width: 700px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    .nav li {
        text-decoration: none;
        list-style-type: none;
        width: 100px;
        text-align: center;
        padding: 8px;
    }

    .liContainer{
        position: relative;
    }

    .liContainer:hover .ulContainer li{
        padding: 8px;
        display: block;
    }

    .ulContainer{
        position: absolute;
        left:0;
        top:40px
    }
    .ulContainer li{
        padding: 8px;
        display: none;
        text-align: left;
    }

    /* .ulContainer li:hover{
        color:"red"
    } */
}

@media only screen and (max-width: 690px) {
    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav li {
        text-decoration: none;
        width: 200px;
        text-align: left;
        padding: 8px;
    }
    
}